node_modules
npm-debug.log
.env
.env.local
.env.*.local
.git
.gitignore
README.md
Dockerfile
.dockerignore
coverage
.nyc_output
.cache
.parcel-cache
.next
.nuxt
.vuepress/dist
.serverless
.fusebox/
.dynamodb/
.tern-project
.tern-port
.vscode-test
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.pnp.*
build
tmp
temp