TZ=UTC
PORT=3333
HOST=localhost
LOG_LEVEL=info
APP_KEY=utgX2Ni6jzFM5ht1XjPFantTF0Syg_bQ
NODE_ENV=development

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_DATABASE=

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=+

SENDGRID_API_KEY=
EMAIL_SENDER=

PAYSTACK_SECRET_KEY=
PAYSTACK_PUBLIC_KEY=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_S3_BUCKET=

SMILE_ID_KEY=
SMILE_ID_PARTNER=
LIMITER_STORE=
EXPO_ACCESS_TOKEN=